.nav-footer-container {
    position: relative;
    width:100%;
    overflow: hidden;
    margin:10px 0px;
}

.btnBack{
    float: right;
    padding-left: 25px;
}

.button{
    min-width: 140px;
    min-height: 44px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #999999;
    color: #999999;
    padding:10px;
    font-family:'Mission Gothic Regular', sans-serif;
    font-size:20px;
    line-height:26px;
}

.button__active{
    background-color: #50AB2C;
    color: #FFF;
    border:1px solid #50AB2C;
    pointer-events: auto;
}

.button__inactive{
    pointer-events:none;
}

/* Media Queries for Responsiveness */



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575px) {
    .button{
        min-width:120px;
    }
  
  } 
  
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
  
  
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1024px) {
    
  }
  
  
  /* Extra Large devices (desktops, 1024px and up) */
    @media  (min-width : 1025px) {
  
   }