.nav-footer-container {
    position: relative;
    width:100%;
    overflow: hidden;
    margin:10px 0px;
}

.btnBack{
    float: right;
    padding-left: 25px;
}

.button{
    min-width: 140px;
    min-height: 44px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #999999;
    color: #999999;
    padding:10px;
    font-family:'Mission Gothic Regular', sans-serif;
    font-size:20px;
    line-height:26px;
}

.button__next{
    background-color: #2B33AC;
    color: #FFF;
    font-size: 18px;
}

