.container-fluid{
    background-color: #3774AF !important;
    width:100%;
    height:90px;
    position: fixed;
    justify-content: space-around;
}

.navbar-brand{
    color : #FFF;
    margin:auto;
}

 .navbar-brand .aaa-logo{
    width:150px;
    height:80px; 
}

.logo-col{
    z-index:-1;
}

.header-text-col{
    z-index:2;
    position: absolute;
}
.navbar-header-text{
    font-family:Helvetica;
    color: #FFF !important; 
    margin:auto;
    font-size:36px;
}



/* Media Queries for Responsiveness */

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575px) {
    .container-fluid{
        height:180px;    
    }

    .navbar-brand .aaa-logo{
        width:150px;
        height:80px; 
    }
    .logo-col{
        z-index:0;
        margin-top:10%;
    }
    
    .header-text-col{
        z-index:0;
        margin-top:25%;
        padding-bottom:5%;
    }
    
    .navbar-header-text{
        font-family:Helvetica;
        color: #FFF !important; 
        margin:auto;
        font-size:140%;
    }
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    .container-fluid{
        height:180px;    
    }

    .navbar-brand .aaa-logo{
        width:150px;
        height:80px; 
    }
    .logo-col{
        z-index:0;
        margin-top:10%;
    }
    
    .header-text-col{
        z-index:0;
        margin-top:25%;
        padding-bottom:5%;
    }
    
    .navbar-header-text{
        font-family:Helvetica;
        color: #FFF !important; 
        margin:auto;
        font-size:140%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {   
    .navbar-header-text{
        font-size:135%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {

}

  

@media  (min-width : 1025px) {
    
}
