    <div class="container-fluid fixed-top">
        <div class="row justify-content-start align-items-center">
            <div class="col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex align-self-center logo-col">
                <a class="navbar-brand" href="#">
                    <img class="aaa-logo"
                        src="https://webapps.acg.aaa.com/resource/1564877448000/CSS_AutoQuote/www/assets/images/aaa-logo.png">
                </a>
           </div>
            <div class="col-12 col-xl-12  col-lg-12 col-md-12 col-sm-12 d-flex align-self-center header-text-col">
                    <div class="navbar-header-text">Auto Insurance</div>
            </div>
        </div>
    </div>