
<div><p class="welcome-text">Hi Francessa! What you have with AAA?</p></div>
<div class="card mx-auto">
    
    <div class="card-header">
       <div class="header">
           <app-status-bar activeStepId="additionalInfo">

           </app-status-bar>
        </div>
    </div>

    <div class="card-body">
            <form [formGroup]="form">
                <div class="justify-content-center col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12">


                        <div class="form-row col-12 mb-2 mt-2">
                          <div class="form-group col-12 col-lg-8 col-md-12 col-sm-12 col-xl-8">
                            <p class="discounts-text">DISCOUNTS</p>
                            <p class="discounts-text">Great News! <span class="discounts-sub-text">You may be eligible for discounts on your policy</span>  </p>
                            <p class="discounts-sub-text">Do you currently have these AAA products?</p>
                        </div>
                        </div>


                    <div class="form-row col-12 mb-2 mt-2">
                        <div class="form-group col-12 col-lg-5 col-md-12 col-sm-12 col-xl-5">
                            <i (click)="storeValueToLocalStorage($event)" class="fa checkbox-color fa-lg" id="memberships"
                                [ngClass]="{'fa-square-o' : !memberships,
                                            'fa-check-square-o' : memberships}" aria-hidden="true"></i>
                            <span class="checkbox-text">AAA memberships</span>
                        </div>
                        <div class="form-group col-12 col-lg-5 col-md-12 col-sm-12 col-xl-5">
                            <i (click)="storeValueToLocalStorage($event)" class="fa checkbox-color fa-lg"  id="rentersInsurance"
                                [ngClass]="{'fa-square-o' : !rentersInsurance,
                                            'fa-check-square-o' : rentersInsurance}" aria-hidden="true"></i>
                            <span class="checkbox-text">AAA Renters Insurance</span>
                            
                        </div>                 
                    </div>

                    <div class="form-row col-12 mb-2 mt-2">
                            <div class="form-group col-12 col-lg-5 col-md-12 col-sm-12 col-xl-5">
                                    <i (click)="storeValueToLocalStorage($event)" class="fa checkbox-color fa-lg" id="lifeInsurance"
                                    [ngClass]="{'fa-square-o' : !lifeInsurance,
                                                'fa-check-square-o' : lifeInsurance}" aria-hidden="true"></i>
                                <span class="checkbox-text">AAA Life Insurance</span>
                            </div>
                            <div class="form-group col-12 col-lg-5 col-md-12 col-sm-12 col-xl-5">
                                    <i (click)="storeValueToLocalStorage($event)" class="fa checkbox-color fa-lg" id="homeCondoOwners"
                                    [ngClass]="{'fa-square-o' : !homeCondoOwners,
                                                'fa-check-square-o' : homeCondoOwners}" aria-hidden="true"></i>
                                <span class="checkbox-text">AAA Homwowners or Condo Owners</span>
                            </div>                 
                    </div>

                    <div class="form-row col-12 mb-2 mt-2">
                      <div class="form-group col-12 col-lg-8 col-md-12 col-sm-12 col-xl-8">
                        <p class="discounts-sub-text">Are we the first insurance company that you have contacted for auto insurance?</p>
                      </div>
                    </div>


                    <div class="form-row col-12 mb-2 mt-2">

                      <div class="form-group col-12 col-lg-2 col-md-2 col-sm-12 col-xl-2">
                            <label class="container">
                                    <input type="radio" id="isYes" formControlName="isACGFirstCompanyContacted"
                                     [checked]="isYes"
                                     (change)="storeValueToLocalStorage($event)">
                                    <span class="checkmark"></span>
                                    <span class="radio-text">Yes</span>
                            </label>
                      </div>

                        <div class="form-group col-12 col-lg-2 col-md-3 col-sm-12 col-xl-2">
                            <label class="container">
                                    <input type="radio" id="isNo" formControlName="isACGFirstCompanyContacted"
                                    [checked]="isNo"
                                    (change)="storeValueToLocalStorage($event)">
                                    <span class="checkmark"></span>
                                    <span class="radio-text">No</span>
                            </label>
                        </div>
                    </div>

                </div>

                            
              <div class="form-row col-12 mb-2 mt-2 warning-message">  
                    <div class="form-group col-12 col-lg-1 col-md-1 col-sm-1 col-xl-1">
                      <img src="https://img.icons8.com/windows/50/000000/high-importance.png"> 
                    </div>
    
                    <div class="form-group col-12 col-lg-11 col-md-11 col-sm-11 col-xl-11">    
                      <p>To speed up the quotation process, we prefil forms with information from publicly available sources. Please review our Privacy Policy and information about our use of Consumer Reports</p>
                    </div>
               </div>

            </form>
          
    </div> 

  
        

    <div class="card-footer">
        <button ngbPopover="Checkout address details" triggers="mouseenter:mouseleave" popoverTitle="Info" class="address-button" (click)="prevPage()" [ngClass]="{'address-button-clicked' : goBack}">   
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="black" stroke-width="10" fill-rule="evenodd" clip-rule="evenodd">
                    <path d="M2.117 12l7.527 6.235-.644.765-9-7.521 9-7.479.645.764-7.529 6.236h21.884v1h-21.883z"/>
                </svg>&nbsp;&nbsp;
                    <span class="address-text" [ngClass]="{'address-text-highlight' : goBack}">Back</span>
        </button>&nbsp;
        <button class="address-button" ngbPopover="Checkout vehicle options" triggers="mouseenter:mouseleave" popoverTitle="Info"
            (click)="nextPage()" [ngClass]="{'address-button-clicked' : goNext}"> 
            <span class="address-text" [ngClass]="{'address-text-highlight' : goNext}">Vehicles</span> &nbsp;
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="black" stroke-width="10" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/>
            </svg>
        </button>
    </div>

  </div>
