<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-10 vehicles-header">
            <h2>Hi Francessa! Let us get some details of your vehicles.</h2>
        </div>
    </div><br>
    <div class="row justify-content-center">
    <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-10">
    <div class="card membership-advertisement" [ngClass]="{'membership-overlay-no-display' : membershipOverlayOff }">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-12 col-lg-10 col-md-10 col-sm-10">
            <div class="card-body">
                <h2>MEMBERSHIP ADVERTISEMENT</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    <div class="close-button"> 
                        <button (click)="onMemberhsipOverlayClose()">Close</button>
                    </div>
            </div>   
          </div>
        </div>
    </div>
  

        <div class="card vehicles-list-container" [ngClass]="{'membership-overlay-background-disable' : !membershipOverlayOff}">                                                          
            <div class="card-header">
                <div>
                        <app-sub-status-bar activeStepId="selectVehicles"></app-sub-status-bar>
                </div>
            </div>
            <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-12 col-xl-12 col-lg-10 col-md-10 col-sm-10 vehicles-list">
                          <h2>We found {{vehiclesLength}} vehicles associated with this address.</h2>
                          <p>Select the vehicles you want to add.</p>
                        </div>
                    </div>
                    <div class="row nested-row-adjust" *ngIf="displayVehicles > 0">
                            <div class="col-12 col-xl-12 col-lg-10 col-md-10 col-sm-10">
                                    <table>
                                            <tr *ngFor="let vehicle of vehicles; let i = index" [ngClass]="{'hide-remove-vehicle' : vehicles[i].removed}">
                                                <td class="checkbox-cell">
                                                    <label class="container">
                                                        <input type="checkbox" (change)=vehicleSelected(i)>
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <span  class="vehicle-details">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} <br></span>
                                                    <span  class="vin-details">VIN: {{vehicle.vin}}</span>
                                                </td>
                                                <td class="remove-vehicle" [ngClass]="{'hide-remove-vehicle' : isVehiclesNotSelected}" 
                                                    (click)="removeVehicle(i)">
                                                    <p>REMOVE VEHICLE</p>
                                                </td>
                                            </tr>
                                    </table>
                            </div>
                        </div>
                        <div class="row justify-content-center" [ngClass]="{'hide-remove-vehicle' : isVehiclesNotSelected}">
                            <div class="col-12 col-xl-10 col-lg-10 col-md-10 col-sm-10 add-vehicle" (click)="addNewVehicle()">
                                <p>Do you have additional vehicles to add?</p>
                                <h3><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;ADD VEHICLE</h3>
                            </div>
                        </div>
            </div>
            <div class="card-footer">
                <app-footer (nextAction)="nextStep($event)" activeStep="Vehicle Details"></app-footer>
            </div>
        </div>
</div> 
</div> 
</div>
<br><br><br>
