<app-header></app-header>
<app-status-bar activeStepId="vehicles"></app-status-bar>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10 col-lg-10 col-md-10 col-sm-10 vehicles-header">
            <h2>VEHICLES</h2>
            <p>Provide details for each vehicle.</p>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="displayVehicles > 0">
        <div class="col-12 col-xl-10 col-lg-10 col-md-10 col-sm-10 vehicles-list">
                <table>
                        <tr *ngFor="let vehicle of vehicles; let i = index" [ngClass]="{'remove-vehicle' : vehicles[i].removed}">
                            <td class="vehicle-cell">
                                <span  class="vehicle-details">{{vehicle.year}} {{vehicle.make}} {{vehicle.model}} <br></span>
                                <span  class="vin-details">VIN: {{vehicle.vin}}</span>
                            </td>
                            <td>
                                <div class="continue-button" (click)="provideDetails(i)">
                                    <button>Provide Details</button>
                                </div>
                            </td>
                            <td>
                                <div class="remove-button" (click)="removeVehicle(i)">
                                        <button>Remove</button>
                                </div>
                            </td>
                        </tr>
                </table>
        </div>
    </div><br><br>
    <div class="row justify-content-center">
            <div class="col-12 col-xl-10 col-lg-10 col-md-10 col-sm-10 add-vehicle" (click)="addNewVehicle()">
                <p><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add vehicle</p>
            </div>
        </div>
</div>  