
.container-fluid{
    margin-top:40px;
}
/*Styling for header ---
  VEHICLES
  Provide details for each vehicle.
--- */
.vehicles-header{
    padding-left:0!important;
}

.vehicles-header h2 {
  font-family:'Mission Gothic Regular', sans-serif; 
  font-size:30px;
  line-height:39px;
}

.vehicles-header p{
  font-family:'Mission Gothic Regular', sans-serif; 
  color:#999999;
  font-size:24px;
  line-height:31px;
}



/*Styling for vehicles list*/
.vehicles-list{
  background-color:#FFF;
  border-radius:5px;
}

.nested-row-adjust{
  margin:0;
}
.vehicle-details{
    font-size:18px;
    line-height:23px;
    color:#999999;
    font-family:'Mission Gothic Regular', sans-serif; 
  }
  
  .vin-details{
    font-size:18px;
    line-height:23px;
    color:#000;
    font-family:'Mission Gothic Regular', sans-serif; 
  }

  table{
    width:100%;
    margin: 35px 0px;
  }
  
  tr{
    border-bottom:1px solid rgba(151, 151, 151, 0.5);

  }
  td{
    padding:15px 0px;
  }
 
  .card-header{
    background-color:#F2F8FC;
  }

  .continue-button, .remove-button{
      margin: 20px;
  }
  .sub-section{
    border:1px solid gray;
    border-radius:5px;
    width:100%;
  }

  .continue-button button{
    background-color: #FFF;
    border:1px solid #003893;
    font-family:'Mission Gothic Regular', sans-serif; 
    color: #003893;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }

  .remove-button button{
    background-color: #FFF;
    font-family:'Mission Gothic Regular', sans-serif; 
    border:none;
    color: #003893;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
  }
  
  .remove-vehicle{
      display:none;
  }

  
.checkbox-cell{
  width:80px;
  padding-bottom:18px;
  padding-left:20px;
}

.close-button button{
  background-color:#999999;
  font-family: 'Mission Gothic Regular', sans-serif;
  border: 1.5px solid #B8B8B8;
  border-radius:5px;
  opacity:0.75; 
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width:117px;
  height:42px;
}
.vehicles-list-container{
  z-index:1;
}

.membership-overlay-background-disable{
  opacity:0.3;
  pointer-events:none;
}

.membership-overlay-no-display{
  display:none;
}

.membership-advertisement{
  z-index:2;
  position: absolute;
  width:98.3%;
  border:2px solid #999999;
  border-radius: 5px;
}

.membership-advertisement .card-body p{
  font-family: 'Mission Gothic Regular', sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight:normal;
  color:#999999;
}


.membership-advertisement .card-body h2{
  font-size:24px;
  line-height:31px;
  font-family: 'Mission Gothic Regular', sans-serif;
  color:#2C68AB;
}
/* Checkbox styling */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
  align-content: center;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border:2px solid #2C68AB;
  border-radius:2px;
  background-color: #FFF;
}
.checkmark:before{
  content:'';
  border-top:3px solid #FFF;
  border-right:3px solid #FFF;
  position: absolute;
  width: 40%;
  height:50%!important;
  left: 80%;
  bottom: 70%;
}

.container input:checked ~ .checkmark {
  background-color: #FFF;
 
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  bottom: 4px;
  width: 7px;
  height: 16px;
  border: solid #2C68AB;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* End of Checkbox Styling */


  
/*Styling for add vehicle section */
.add-vehicle{
  border:1px dashed #484848;
  font-family:'Mission Gothic Regular', sans-serif; 
  color:#484848;
  padding-top:18px;
}

.add-vehicle p{
cursor: pointer;
}

.fa-plus-circle{
  color:#484848;
}
  
 /* Media Queries for Responsiveness */



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 400px) {
  .vehicles-header{
    margin-left:10px;
  }
    
} 


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 401px) and (max-width: 767px) {
  .vehicles-header{
    margin-left:10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {
  
}


/* Extra Large devices (desktops, 1024px and up) */
  @media  (min-width : 1025px) {

 }