.container-fluid{
    margin-top:20px;
    -webkit-box-direction: normal;
}

.vehicles-header h3 {
    font-family:'Mission Gothic Bold', sans-serif; 
}

.vehicles-header p{
    font-family:'Mission Gothic Light', sans-serif; 
}

.vehicle-details {
    background-color: #FFF;
    padding-top:20px;
}

.vehicle-details #enter-details{
    font-family:'Mission Gothic Light', sans-serif; 
}

.vehicle-details #vin{
    font-family:'Mission Gothic Regular', sans-serif; 
    font-size:15px;
    font-weight:bold;
}

form{
    background-color: #FFF;
    padding:20px;
    border-radius:5px;
}

.enter-details p, .enter-vin p{
    font-family: Helvetica;
    font-size: 16px !important;
    color: #3B3B3B !important;
}

.enter-vin p{
    font-weight: bold;
    margin-top:-10px;
}

.form-control {
    background-color: #F6F6F6;
    border: 1px solid #dedede;
    border-radius: 0;
}


select.form-control:focus, input.form-control:focus{
    border:1px solid #2B33AC;
    box-shadow: none;
}

select.form-control {
    margin-top:-10px;
}

.btnSearch {
    font-family:'Mission Gothic Light', sans-serif; 
    text-align: center;
background: #3E7ACF;
border: 1px solid #3E7ACF;
width: 50% !important;
color: #ffffff;
border-radius: 5px 5px;
padding: 10px;
font-weight: bold;
min-width: 80px;
position: relative;
z-index: 0;
display: inline-block;
text-overflow: ellipsis;
text-transform: none;
white-space: nowrap;
cursor: pointer;
user-select: none;
contain: content;
font-style: inherit;
font-variant: inherit;
line-height: 0.7;
margin-left:5px;
}

.vehiclesTitles {
    font-family:'Mission Gothic Regular', sans-serif; 
    font-size: 16px !important;
    color: #3B3B3B !important;
    font-weight:bold;
    padding:20px;
}

.page-auto-vehicles p, .make p, .model p, .body-style p, .type-description p{
    font-family: Helvetica;
    font-size: 16px !important;
    font-weight: bold;
    color: #3B3B3B !important;
}

.adjust-gutter{
    margin-left:10px;
}

.vehiclesDesc {
    font-family:'Mission Gothic Regular', sans-serif;
    text-align: left;
    color: #003893;
    font-weight: bold !important;
    font-size: 20px !important;
}

.subTitleAuto{
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #3B3B3B !important;
}

.nested-col-move-left {
    padding-left:0px!important;
    margin-left:0px!important;
}

select, option{
    font-family:'Mission Gothic Light', sans-serif;
    color:black;
}

.switch-radio-group span input[type="radio"] {
    opacity: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    
}

.switch-radio-group span {
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
    height: 44px;
}

.switch-radio-group {
    overflow: hidden;
}

.switch-radio-group span span {
font-family:'Mission Gothic Regular',sans-serif;
width: 100%;
background: #F6F6F6;
border: 1px solid #B1B1B1 !important;
border-radius: 5px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
text-align: center;
position: absolute;
left: 0;
top: 0;
height: 44px;
line-height: 44px;
pointer-events: none;   
z-index: 0;
color: #000;
font-weight: normal;
font-size: 16px;
}

.switch-radio-group span + span span {
    font-family:'Mission Gothic Regular',sans-serif;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left:0px;
}

 .discounts-title {
    margin-top: 30px !important;
    padding-bottom: 10px !important;
 }

 .discounts-title h2{
    font-family:'Mission Gothic Regular',sans-serif;
    font-weight: bold;
    font-size:20px;
 }

 .discounts-header p{
 font-family: Helvetica;
 font-size: 16px;
 font-weight: normal;
 font-style: normal;
 font-stretch: normal;
 line-height: 1.5;
 letter-spacing: normal;
 text-align: left;
 }

 .move-up{
     margin-top:-15px;
 }


 /* Media Queries for Responsiveness */



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 400px) {
   
    .adjust-gutter, .btnSearch{
        margin-left:0px;
    }
      
  } 
  
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 401px) and (max-width: 767px) {
    
    .adjust-gutter, .btnSearch{
        margin-left:0px;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
  
    .adjust-gutter{
        margin-left:0px;
    }
  
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1024px) {
  
    
    
  
  }
  
  
  /* Extra Large devices (desktops, 1024px and up) */
    @media  (min-width : 1025px) {
  
   }