
.container-fluid{
    margin-top:40px;
}

/*Styling for add vehicle header ---
  Let us add your vehicle
--- */
.card-header{
    background-color:#F2F8FC;
  }

.vehicles-header h2 {
  font-family:'Mission Gothic Regular', sans-serif; 
  font-size:30px;
  line-height:39px;
}
  .vehicles-header p{
    font-family:'Mission Gothic Regular', sans-serif; 
    color:#999999;
    font-size:24px;
    line-height:31px;
  }
/*Styling for VIN header*/
.enter-vin p{
	color: #999999;
	font-family: "Mission Gothic Regular";
	font-size: 18px;
	line-height: 23px;
}

/*Common styling for input text and select */
.form-control {
    background-color: #F6F6F6;
    border: 1.5px solid #B8B8B8;
    border-radius: 2px;
    box-shadow: none;
}

select.form-control:focus, input.form-control:focus{
    border:1.5px solid #2C68AB;
    border-radius: 5px;
}

select.form-control {
    margin-top:-10px;
}

select, option{
    font-family:'Mission Gothic Light', sans-serif;
    color:black;
}

/*Styles for "lookup" button */
.btnSearch {
    font-family:'Mission Gothic Regular', sans-serif; 
    text-align: center;
    background: #2C68AB;
    border: 1px solid #2C68AB;
    width: 100% !important;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    min-width: 80px;
    position: relative;
    z-index: 0;
    display: inline-block;
    text-overflow: ellipsis;
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    contain: content;
    font-style: inherit;
    font-variant: inherit;
    line-height: 1;
    box-sizing: border-box;
}

/* Styles for "Or" */
.vehiclesTitles {
    font-family:'Mission Gothic Regular', sans-serif; 
    height: 31px;
    width: 28px;
    color: #000000;
    font-size: 24px;
    line-height: 31px;   
}

.hide-lookup{
    display: none;
}

/* Styles for the vehicle search headers ---
    Year, Make , Model, Body Style/Trim
---*/
.page-auto-vehicles p, .make p, .model p, .body-style p, .type-description p{
    color: #999999;
    font-family: "Mission Gothic Regular", sans-serif;
    font-size: 18px;
    line-height: 23px;  
}

/* Spacing between the drop downs */
.adjust-gutter{
    margin-left:10px;
}

  
 /* Media Queries for Responsiveness */



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575px) {
  .vehicles-header{
    margin-left:10px;
  }
  .vehicles-header h2{
    font-size:16px;
    line-height:21px;
    margin-left:10px;
  }

  .membership-advertisement .card-body p{
    font-size: 16px;
    line-height: 21px;
  }
  
  .membership-advertisement .card-body h2{
    font-size:20px;
    line-height:26px;
  }
  
  .vehicles-list h2{
    font-size:20px;
    line-height:26px;
  }
  
  .vehicles-list p{
    font-size:18px;
    line-height:23px;
  }
    
  .vehicle-details, .vin-details {
    font-size:16px;
    line-height:21px;
  }

} 


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .vehicles-header{
    margin-left:10px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1024px) {
  
}


/* Extra Large devices (desktops, 1024px and up) */
  @media  (min-width : 1025px) {

 }