<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-10 vehicles-header">
                <h2>Let us add your vehicle</h2>
            </div>
        </div><br>
    <form [formGroup]="form">    
        <div class="row justify-content-center">
        <div class="col-12 col-xl-8 col-lg-10 col-md-10 col-sm-10">
            <div class="card vehicles-list-container">                                                          
                <div class="card-header">
                    <div>
                            <app-sub-status-bar activeStepId="selectVehicles"></app-sub-status-bar>
                    </div>
                </div>
                <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-12 col-lg-10 col-md-10 col-sm-10 vehicles-header">
                              <h2>Vehicle details</h2>
                              <p>Enter VIN or Year, Make and Model</p>
                            </div>
                        </div>
                        <!-- VIN header-->
                        <div class="row">
                                <div class="col-12 col-lg-12 col-md-6 col-sm-12 col-xl-12 enter-vin">
                                    <p>Vehicle Identification Number</p>
                                </div>
                        </div>
                         <!-- VIN input field-->
                        <div class="row no-gutters">
                                <div class="col-12 col-lg-3 col-md-6 col-sm-12 col-xl-4">
                                    <div class="form-group">
                                        <input formControlName="vin" type="text" class="form-control" id="vin" 
                                        (keyup)="validateVin($event)">
                                    </div>
                                </div>
                                <div class="col-12 col-lg-2 col-md-6 col-sm-12 col-xl-2" [ngClass]="{'hide-lookup' : isVinIncomplete}" >
                                    <button (click)="lookupVehicle('vin')" class="button btnSearch adjust-gutter">Find</button>
                                </div>
                        </div><br>
                         <!-- Or -->
                        <div class="row mx-auto">
                                <span class="vehiclesTitles">OR</span>
                        </div><br>
                         <!-- Row for year,make,model,trim-->
                            <div class="row no-gutters">
                                <!-- Year -->
                                <div class="col-12 col-lg-2 col-md-12 col-sm-12 col-xl-2 page-auto-vehicles">
                                    <p>Year</p>
                                    <div class="form-group">
                                     <select  formControlName="year" class="form-control" id="year"
                                              (change)="storeValueToLocalStorage($event)">
                                        <option *ngFor="let vYear of yearList" [value]="vYear"
                                            [ngValue]="vYear">{{vYear}}</option>            
                                     </select>
                                    </div>
                                </div>
                                <!-- Make -->
                                <div class="col-12 col-lg-2 col-md-12 col-sm-12 col-xl-2 page-auto-vehicles adjust-gutter">
                                    <p>Make</p>
                                    <div class="form-group">
                                        <select formControlName="make" class="form-control" id="make"
                                        (change)="storeValueToLocalStorage($event)">
                                        <option *ngFor="let vMake of makeList" [value]="vMake"
                                                [ngValue]="vMake">{{vMake}}</option>  
                                        </select>
                                    </div>
                                </div>
                                <!-- Model -->
                                <div class="col-12 col-lg-3 col-md-12 col-sm-12 col-xl-3 page-auto-vehicles adjust-gutter">
                                    <p>Model</p>
                                    <div class="form-group">
                                        <select formControlName="model" class="form-control" id="model"
                                        (change)="storeValueToLocalStorage($event)">
                                        <option *ngFor="let vModel of modelList" [value]="vModel"
                                                [ngValue]="vModel">{{vModel}}</option>                   
                                       </select>
                                    </div>
                                </div>
                                <!-- Trim -->
                                <div class="col-12 col-lg-3 col-md-12 col-sm-12 col-xl-3 page-auto-vehicles adjust-gutter">
                                    <p>Body Style/ Trim</p>
                                    <div class="form-group">
                                        <select  formControlName="trim" class="form-control" id="trim"
                                        (change)="storeValueToLocalStorage($event)">
                                        <option *ngFor="let vTrim of trimList" [value]="vTrim"
                                                [ngValue]="vTrim">{{vTrim}}</option>
                                       </select>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">
                                <!-- Lookup -->
                                <div class="col-12 col-lg-2 col-md-6 col-sm-12 col-xl-2" [ngClass]="{'hide-lookup' : isVehicleInfoIncomplete}">
                                    <button (click)="lookupVehicle('vehicleInfo')" class="button btnSearch">Find</button>
                                </div>
                            </div>
                </div>
        
            <div>
        </div>
                <br><br><br>
                <div class="card-footer">
                    <app-footer (nextAction)="nextStep($event)" activeStep="Vehicle Details"></app-footer>
                </div>
            </div>
    </div> 
    </div> 
    </form>
    </div>
    <br><br><br>
    